:root {
  --gobezeai-elements-terminal-backgroundColor: var(--gobezeai-terminal-background);
  --gobezeai-elements-terminal-textColor: var(--gobezeai-terminal-foreground);
  --gobezeai-elements-terminal-cursorColor: var(--gobezeai-terminal-foreground);
  --gobezeai-elements-terminal-selection-backgroundColor: var(--gobezeai-terminal-selection-background);
  --gobezeai-elements-terminal-color-black: var(--gobezeai-terminal-black);
  --gobezeai-elements-terminal-color-red: var(--gobezeai-terminal-red);
  --gobezeai-elements-terminal-color-green: var(--gobezeai-terminal-green);
  --gobezeai-elements-terminal-color-yellow: var(--gobezeai-terminal-yellow);
  --gobezeai-elements-terminal-color-blue: var(--gobezeai-terminal-blue);
  --gobezeai-elements-terminal-color-magenta: var(--gobezeai-terminal-magenta);
  --gobezeai-elements-terminal-color-cyan: var(--gobezeai-terminal-cyan);
  --gobezeai-elements-terminal-color-white: var(--gobezeai-terminal-white);
  --gobezeai-elements-terminal-color-brightBlack: var(--gobezeai-terminal-brightBlack);
  --gobezeai-elements-terminal-color-brightRed: var(--gobezeai-terminal-brightRed);
  --gobezeai-elements-terminal-color-brightGreen: var(--gobezeai-terminal-brightGreen);
  --gobezeai-elements-terminal-color-brightYellow: var(--gobezeai-terminal-brightYellow);
  --gobezeai-elements-terminal-color-brightBlue: var(--gobezeai-terminal-brightBlue);
  --gobezeai-elements-terminal-color-brightMagenta: var(--gobezeai-terminal-brightMagenta);
  --gobezeai-elements-terminal-color-brightCyan: var(--gobezeai-terminal-brightCyan);
  --gobezeai-elements-terminal-color-brightWhite: var(--gobezeai-terminal-brightWhite);
} 